<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prog2yzy0050Fa16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C8C0FD01D9E647D00018D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8C0FE41D9E647D00018D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8C0FEF1D9E647D00018D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
