<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ch6_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C0CC4431DC1962000ECC91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0CC4571DC1962000ECC91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0CC4621DC1962000ECC91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
